
.list li {
  width: 170px; 
  height: 160; 
  overflow: hidden; 
  display: flex;
  align-items: center;
  justify-content: center;
}

.list li img {
  max-width: 50%; 
  max-height: 50%; 
  object-fit: scale-down; 
}
